/* Start Variables      -----------------------------------------------------*/


/* End Variables */

/* Start Global CLASS   -----------------------------------------------------*/

.dfcc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ma{
    margin-right: auto;
    margin-left: auto;
}

/* End  Global CLASS */
/* Start Global Rules   -----------------------------------------------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    /* --main-color: #3a60f4; */
    --main-color: #1E2E65;
    --hover: rgb(77, 179, 204);
    --hover2: #ff6633;
    --h1:rgb(173 12 12);
    --h11:rgb(255, 23, 23);
    --logo-color-1:#006fa9;
    --logo-color-2:#3E3E40;
    --logo-color-3:#a2a2a8;

}
    

body {
    font-family: "Work Sans", sans-serif;
}


/*------------------------------------Start Global Elements-------------------------------*/
section{
    width: 100%;
    min-height: 100vh;
}

p{
    color: var(--main-color);
    font-weight: 500;
    padding-top: 0;
    margin-top: 0;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
/*------------------------------------End Global Elements-------------------------------*/

/*------------------------------------Start Global class-------------------------------*/
.bd{
    border: 3px solid #000;
}
.mh100v{
    min-height: 100vh;
}
/*------------------------------------End Global class-------------------------------*/


.parent{
    background-color: var(--main-color);
}
.container{
    /* background-color: rgba(226, 223, 43, 0.363); */
    margin-left: auto;      margin-right: auto;
    padding-right: 15px;    padding-left: 15px;
}


/* mob -----------------------------------------------------*/
@media (max-width: 767px) {
    /* section{
        width:100%;
    }

    .container{
        width: 95%;
    } */
}
/* Small -----------------------------------------------------*/
@media (min-width: 768px) {
    section{
        width:100%;
    }

    .container{
        width: 750px;
    }
}

/* Medium ----------------------------------------------------- */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* Larg -----------------------------------------------------*/
@media (min-width: 1200px) {
    .container{
        width: 1170px;

    }
}


.morebtn{
    all: unset;
    border: 3px solid #ebeced00;
    color: var(--main-color);
    background-color: #ebeced;
    border: 3px solid var(--main-color);
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.7s ease;
    margin-bottom: 30px;
}
.morebtn:hover{
    background-color: var(--main-color);
    color: #ebeced;
    transform: scale(1.05);
}

.fll{
    float: left;
}
.flr{
    float: right;
}
.w100{
    width:100%;
}
/* End Global Rules*/


/* Start Header   -----------------------------------------------------*/
header{
    background-color: var(--main-color);
    padding: 5px 20px;
    height: 50px;
    width: 100%;
    z-index: 999;
    position: fixed;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoH{
    height: 40px;
}
@media (max-width: 767px) {
    .logoH{height: 25px;}
    .header{height: 35px;}
}
.navLinks{
    display: flex;
}
.navLinks a{
    color: #eee;
    margin-right: 7px;
    margin-left: 7px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: 0.7s ease;
    border-radius: 5px;

}
.link:hover{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    color: #eee;
}
.link{
    padding-right: 10px;padding-left: 10px;
}
i{
    color: #eee;
    transition: 0.3s ease;
}
.aboutCont{
    position: relative;
    transition: 0.7s ease;

}
.aboutCont:hover i{
    transform:rotate(0.5turn);
}
.aboutDn::before{ 
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
    position: absolute;
    transform: translate(50%);
    right: 50%;
    top: -20px;
}

.aboutDn{
    background-color: #333;
    position: absolute;
    top: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    z-index: 0;
    opacity: 0;
    transition: 0.7s ease;
    transition-delay: 0.3s;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;
}

.aboutDn a{
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0px;
    padding:15px 0px;
    transition: 0.3s ease;
}
.aboutDn a:nth-child(1){
    padding-top: 25px;
}
.aboutDn a:not(:last-child){
    border-bottom: 1px solid rgb(255, 255, 255);
}

.aboutDn a:hover{
    border-radius: 0px;
    padding-left: 25px;
    color: var(--hover);
    font-weight: 800;
}
.aboutCont:hover .aboutDn{
    background-color: #1e2f65e8;
    top: calc(100% + 30px); 
    opacity: 1;
}

/* End Header */
/* Start Ham-Nav   --------------------------Ham-Nav---------------------------*/
.ham{
    display: none;
}
.dnNav{
    display: none;
}
@media (max-width:991px){
    .header{
        border-bottom: 3px solid rgba(255, 255, 255, 0);
        transition: 0.7s ease;
        transition-delay: 0.5s;
    }
    .btmBd{
        border-bottom: 3px solid rgb(255, 255, 255);
    }
    .navLinks{
        display: none;
    }
    .ham{
        display: block;
        /* position: absolute;
        right: 20px;
        top: 20px; */
        width: 30px;
        height: 20px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    .ham span{
        display: inline-block;
        background-color: var(--logo-color-3);
        height: 3px;
        width: 100%;
        border-radius: 2px;

        transition: 0.3s ease;
    }
    .ham :nth-child(2){
        width:60%;
    }
    .ham :nth-child(3){
        width:20%;
    }




    .ham-activ :nth-child(1),.ham-activ :nth-child(3){
        width:0;
    }
    .ham-activ :nth-child(2){
        width:100%;
        transform: rotate(45deg);
        position: relative;
        background-color: #ebeced;

    }
    .ham-activ :nth-child(2)::before{
        content: "";
        width: 30px;
        height: 3px;
        background-color: #ebeced;
        position: absolute;
        border-radius: 2px;
        transform: rotate(-90deg);
    }

.dnone{
    /* display: none;
    top: -500px; */


}

    .dnNav{
        position: absolute;
        top: -300px;
        right: 0;
        background-color: #1e2f65;
        /* border-top: 3px solid rgb(255, 255, 255); */
        
        display: flex;
        flex-direction: column;
        text-align: center;
        color: #ebeced;
        width: 100%;
        z-index: -1;

        transition: 0.7s ease;
    }

    .dNavShow{
        top: 50px;
    }

    .dnNav a{
        color: #ebeced;
        padding: 5px;
        border-top: 1px solid #000;
        transition: 0.3s ease;


    }
    .dnNav a:hover{
        letter-spacing:3px;
        padding: 5px;
        font-weight: 800;
        /* color: var(--hover2); */
        background-color: var(--hover);
    }

    




}






/* End Ham-Nav   --------------------------Ham-Nav---------------------------*/



/* Start LANDING MAIN   -----------------------------------------------------*/
.main{
    border:10px solid var(--main-color);
    border-top:none;
    border-radius: 0 0 2em 2em ;
    width: 100%;
    min-height: 100vh;
    background-image: url(../image/landingCover.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    /* z-index: -1; */
}

.mainLogo{
    width: 30%;
    padding-bottom: 10px;
}
@media (max-width: 767px) {
    .main {border:none;}
}




/* Start QOUTE   ----------------------------------------------------------*/

.qoute{
    width: 80%;
    min-height: 25%;
    margin-bottom: 20px;
    padding: 15px;
    /* position: absolute; */
    bottom: 40px;
    color: #333;
    background-color:rgba(218, 255, 252, 0.685) ;
    border-radius: 25px;
    border: 3px solid rgba(0, 0, 0, 0.596);
    text-align: center;
}
.qoute blockquote{
    color: var(--main-color);
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    
}
h3, h4{
    padding: 0;
    margin: 0;
}
h3{
    color: var(--h1);
}
/* End QOUTE -----------------------------------------------------*/



/* Start aboutMKSM   ---------------Start aboutMKSM--------------------------------------*/
.abMKSM{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    background-image: url(../image/aboutMKSM-blured.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.abMKSM .cont-Grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 2fr));
    gap: 20px;
    transition: 0.7s ease;

}
.container .Overview{
}
.container i{
    color: var(--main-color);
}
.abMKSM .mainIcon{
    font-size: 3em;
    padding-top: 50px;
}
.feat{
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(238, 238, 238, 0.685);

    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0));


    transition: 0.7s ease;
}
.feat:hover{
    transform: scale(1.02);
    background-color: rgb(238, 238, 238);
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);

}
.feat h3{
    font-size: 20px;
    font-weight: 800;
    margin:30px 0;


}
.parag p, .parag {
    line-height: 1.8;
    color: var(--main-color);
    font-size: 17px;


}
.parag ul{
    text-align: left;
}

.true{
    width: fit-content;
    margin: auto;
    font-weight: 500;
    text-align: left;
}

.true i{
    margin-right: 15px;
} 
/* End aboutMKSM   ---------------End aboutMKSM--------------------------------------*/


/* Start expertise   ---------------Start expertise--------------------------------------*/
.spi-heading{
    font-size: 100px;
    letter-spacing: -4px;
    color: var(--logo-color-3);
    font-weight: 800;
    margin: 0;
    margin-top: 50px;
    padding-top:50px
}
.spi-heading + p{
    margin: -35px 0 20px;
    color: var(--h1);
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 3px;
}

@media (max-width: 767px){
    .spi-heading{font-size: 80px;}
    .spi-heading + p{margin-top: -20px;}
}

.ex-p  {
    max-width: 50%;
    text-align: center;
    font-weight: 500;
    background-color:  #ebeced9c;
    padding: 20px;
    border-radius: 20px;
}
@media (max-width:1200px) {
    .ex-p  {
        max-width: 100%;
    }
}
.ex-p p {
margin-bottom: 0;
}
/* Start expCard   ---------------Start expCard--------------------------------------*/

.card-cont{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.expCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    /* min-height: 150px; */
    margin: 20px;
    border-color: #9e9e9e9c;
    border-radius: 5px;
    background-color:  #ebeced9c;

}
.expCard h3{
    padding-left: 20px;
    /* margin-top: 10px; */
}
.expCard div{
    padding-top: 6px;
    padding-bottom: 0;
    height: 150px;
}

.expCard p ul{

}
.expCard ul{
    margin: 0;

}
.expCard li{
    list-style: disc;
    line-height: 1.2;
    color: var(--main-color);
    font-size: 17px;
    font-weight: 500;
}
.expCard img{
    display: inline-block;
    margin: 0 0 0 20px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #fff;
}
.serv {
    display: inline;
}
.ma{
    margin-bottom: 30px;
}
.serv p{
    margin-top: -45px;
    margin-left: 140px;
    color: var(--main-color);
    font-size: 22px;
    font-weight: 500;
}
.serv img{
    height: 30px;
}
.app-cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}
.app{
    width: 40%;
    background-color: #ebeced;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.7s ease;
}
@media (max-width:991px){
    .app-cont{
        flex-direction: column;
    }
    .app{
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.app:hover{
    transform: scale(1.05);}
.app h4{
    font-size: large;
    transition: 0.7s ease;
}
.app:hover h4{
    color: var(--h1);
}
.app p{
    font-size: large;
    color: var(--main-color);
    font-weight: 500;
}

/* End expertise   ---------------End expertise--------------------------------------*/



/* Start members   ---------------Start members--------------------------------------*/

.members{
    background-color: #015b7d;
    background-image: url(../image/ters3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* opacity: .21; */
    filter: grayscale(50%);
}
.members .container{
}

.members .spi-heading{
}

.members .spi-heading + p{
    color: rgb(0, 0, 0);
    color: #fff;
    font-size: 2.5rem;
    margin-left: 15px;
    margin-top: -50px;
}

.members .container h1 + p{
    letter-spacing: 3.5px;
    /* color: #000; */
}
.men-container{
    padding-top: 50px;padding-bottom: 50px;
}
.man-card{
    display: flex;
    align-items: center;
    margin: 50px;
    padding-right: 20px;
    background-color: #ebeced;

    border: 1px solid var(--main-color);
    border-right: 6px solid var(--main-color);
    border-radius: 20px 0 0 20px;
}


.man-card img{
    height: 200px;
    margin-right: 50px;
    border-radius: 20px 0 0 20px;
    border: 1px solid #fff;
}
.man-card h3{
    margin-bottom: 20px;
    font-size: 1.7rem;
    font-weight: 600;
}
.man-card h4{
    color: #333;
    font-size: 1.2rem;


}
.man-card p{
    margin-top: 10px;

}
.opsit-card{
    flex-direction: row-reverse;
    justify-content: end;
    padding-right: 0;
    padding-left: 20px;
    border-right: 0px solid var(--main-color);
    border-left: 6px solid var(--main-color);
    border-radius: 0 20px 20px 0;



}
.opsit-card img{
    margin-right: 0;
    margin-left: 50px;
    border-radius: 0 20px 20px 0;

}


/* End members   ---------------End members--------------------------------------*/









/* Start Projects   ---------------Start Projects--------------------------------------*/

.projects{
    background-color: rgb(255, 255, 255);
}
.projects .container{
    min-height: 100vh;
}
.projects .spi-heading img{
    height: 70px;
}
.projects .container .spi-heading + p{
    font-size: 2.5rem;
    margin-left: 15px;
    margin-top: -20px;
}

.proj-cont{
    width: 100%;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text{
    color: var(--main-color);
    font-weight: 600;
}

.proj-card{
    width: 650px;
    height: 150px;
    display: flex;
    align-items: center;
    margin: 40px 0;
    transition: 0.7s ease;


}
.proj-card:hover{
/* transform: scale(1.01); */
background-color: rgb(230, 230, 230);
}

hr{
    width: 500px;
}

.proj-card img{
    /* width:  180px; */
    height: 120px;
    padding: 2px;
    z-index: 1;
    border-radius: 15px;
    box-shadow: 3px 3px 10px 1px rgba(51, 51, 51, 0.116);
}

.img-befor,.img-after{
    position: relative;
}

.img-befor::before{
    content: "";
    position: absolute;
    top: -75px;
    left: -25px;
    height: 150px;
    width: 80px;
    border-radius: 20px 0 0 20px;
    border-right: 5px solid rgb(207, 0, 0);
    background-color: var(--main-color);
    transition: 0.7s ease;
}

.img-after::after{
    content: "";
    position: absolute;
    top: -75px;
    right: -25px;
    height: 150px;
    width: 80px;
    border-radius: 0 20px 20px 0;
    border-left: 5px solid rgb(207, 0, 0);
    background-color: var(--main-color);
    transition: 0.7s ease;
}

.proj-card:hover .img-after::after,
.proj-card:hover .img-befor::before
{
    width: 150px;
}





.proj-card .proj-disc{
    margin: 0 20px;
}
.proj-card .proj-disc h3{
    font-size: 1.4em;
    padding-bottom: 10px;
    text-transform: capitalize;
}
.proj-card .proj-disc p span{
    font-weight: 800;
    font-size: 1em;
    color: #3a56b3;
}
.proj-card .proj-disc p{
    font-size: 1em;
    margin-bottom: 8px;
    color: #333;
}
hr{
    /* height: 3px; */
    color: rgba(51, 51, 51, 0);
    border: 1px solid var(--main-color);
    border-radius: 50%;
}



/* End Projects   ---------------End Projects--------------------------------------*/

/* Start Footer ------------------------------Start Footer ------------------------------ */

footer{
    background-color: var(--main-color);
    /* padding-top: 4rem; */
    padding-bottom: 5px;
    text-align: center;
}
footer .spi-heading{
    font-size: 80px;
    /* color:  white; */
    color: rgba(77, 179, 204, 0.445);
    /* opacity: .5; */
    z-index: -1;
}
footer .spi-heading + p{
    font-size: 30px;
    /* color: var(--hover); */
    color:  white;
    margin-top:-45px;
    margin-left: 10px;
    margin-bottom:60px;
    z-index: 5;

}
.info-container{
    display: flex;
    justify-content: space-between;
}
.info-container p{
    font-size: 1.2rem;
}
footer .info{
    max-width: 400px;
    border-left: 2px solid rgb(255, 255, 255);
    padding-left: 50px;
    margin-bottom: 20px;
}
footer .info i{
    color: var(--hover);
    font-size: 15px;
}
footer .info p{
    margin-top: 10px;
}
footer .info .links{
    margin-bottom: 0;
}
footer .info a{
    color: var(--hover2);
    color: white;
    transition: 0.7s ease;
}
footer .info a:hover{
    border: none;
    color: var(--hover);
}

footer .info span{
    color: #ffca98;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

    .flogo-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flogo{
    height: 90px;
    margin-bottom: 20px;





}
.downloadCV i{
    font-size: 30px;
    color: white;
}
.downloadCV span{
    color: white;
    font-size: 25px;
    transition: 0.7s ease;
}
.downloadCV:hover span,
.downloadCV:hover i{
    color: var(--hover);
}






.copyrights-cont{
    display: flex;
    justify-content: space-between;
    border-top: 3px solid white;
    padding-top: 10px;
}

.copyrights{
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.copyrights span, .copyrights a{
    color: var(--hover2);
}
.copyrights-cont .amrLogo img{
    width: 100%;
}

footer .info p{
    color: white;
}











.goUp{
    position: fixed;
        /* z-index: 1; */
    right: 50px;
    bottom: -45px;
    font-size: 40px;
    color: var(--main-color);
    background-color: #eee;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0;

    transition: 0.7s ease;
}
.goUp:hover{
    color: var(--hover);
}
.goUpShow{
    bottom: 60px;
    opacity: 1;
}
/* End Footer ------------------------------End Footer ------------------------------ */













